[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"

[dev-packages]
mypy = "*"
flake8 = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.0"
