**/**/**.xml
**/**/**.yml
**/**/**.dat
**/**/**.png
**/**/**.jpg
**/**/**.gif
**/**/**.mp4
**/**/**.bmp
**/**/**.h5
**/**/**.keras

**/**/yalefaces
**/**/sosofaces
**/**/homer_bart_1

!**/**/parametros_lbph.png

**/**/**.csv

**/homer_bart_1/**
**/homer_bart_2/**
**/fer2013/**
**/fer2013/**.bib
**/fer2013/README