**/**/**.xml
**/**/**.yml
**/**/**.dat
**/**/**.png
**/**/**.jpg
**/**/**.gif
**/**/**.mp4
**/**/**.bmp
**/**/**.h5
**/**/**.keras

**/**/yalefaces
**/**/sosofaces
**/**/homer_bart_1

!**/**/parametros_lbph.png