[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
cmake = "*"
wheel = "*"
pillow = "*"
opencv-contrib-python = "*"
scikit-learn = "*"
seaborn = "*"
numpy = "==1.26.4"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
