[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = {extras = ["full"], version = "*"}
pdfplumber = "*"
reportlab = "*"
pdf2image = "*"
pymupdf = "*"
pypdf2 = {extras = ["full"], version = "*"}
pandas = "*"
openpyxl = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
