OPENAI_API_KEY=<sk-proj-....>
GOOGLE_API_KEY=<KEY....>
TAVILY_API_KEY=<tvly-dev-...>
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your-api-key>
LANGSMITH_PROJECT="pr-gargantuan-snorer-42"
PINECONE_API_KEY=<pcsk_...>
PINECONE_INDEX_NAME=medium-blogs-embeddings-index